<header *transloco="let t">
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      
      <a class="navbar-brand" href="#">
        <img src="../../../assets/img/airplane-logo.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="d-flex justify-content-between align-items-center w-100">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/">{{ t('header.home') }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <div class="d-flex align-items-center">
            <a *ngIf="!isLogin" type="button" data-bs-toggle="modal" data-bs-target="#loginModal" class="text-secondary text-decoration-none pe-4">Login</a>
            <select class="form-select border-0" aria-label="Default select example" style="width: 80px;" (change)="changeLang($event)">
              <option value="tr" selected >TR</option>
              <option value="en">EN</option>
            </select>
            
          </div>
          <!-- <div>{{actLang | async}}</div> -->
        </div>
        
      </div>
    </div>
  </nav>
</header>