
<div class="wrapper" *transloco="let t">
    <div class="background-image w-100">
        <div class="image-opacity position-relative w-100 h-100">
            <div class="d-flex flex-column justify-content-center align-items-center h-100">
            <div class="container-fluid">
                <div class="row h-100">
                <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
                    <div class="d-flex flex-column align-items-center justify-content-center h-100" style="text-align: center;">
                    <h1 class="mb-4 fw-bold poppins">{{ t('home.bannerTitle') }}</h1>
                    <h2 class=" h3 fw-normal">{{ t('home.bannerSubtitle') }}</h2>
                    <div class="pt-5">
                        <a class="btn btn-warning btn-lg rounded fs-18" (click)="scrollToForm()">{{ t('home.bannerButton') }}</a>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row my-5">
          <div class="col-12 col-xl-10 offset-xl-1">
      
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
              <div class="col mb-4">
                <div class="card border-0" >
                  <div class="card-body p-5">
                    <h5 class="card-title poppins fs-20 fw-bold">{{ t('home.cardOneTitle') }}</h5>
                    <p class="card-text">{{ t('home.cardOneText') }}</p>
                    </div>
                  <img src="../../assets/img/private-plane.jpeg" alt="plane" class="img-fluid">
                </div>
              </div>
              <div class="col  mb-4">
                <div class="card border-0" >
                  <div class="card-body p-5">
                    <h5 class="card-title poppins fs-20 fw-bold">{{ t('home.cardTwoTitle') }}</h5>
                    <p class="card-text">{{ t('home.cardTwoText') }}</p>   
                  </div>
                  <img src="../../assets/img/special-plane.jpg" alt="plane"  class="img-fluid">
                </div>
              </div>
              <div class="col mb-4">
                <div class="card border-0" >
                  <div class="card-body p-5">
                    <h5 class="card-title poppins fs-20 fw-bold">{{ t('home.cardThreeTitle') }}</h5>
                    <p class="card-text">{{ t('home.cardThreeText') }}</p>
                  </div>
                  <img src="../../assets/img/cl-215.jpg" alt="plane"  class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row world-image">
           <div class="col-12 col-xl-10 offset-xl-1">
            <div class="row mb-5">
                <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
                    <h3>{{ t('home.formTitle') }}</h3>
                    <p>{{ t('home.formText') }}</p>
                </div>
                <div class="col-12 col-md-6" >
                    <form id="contact-form">
                        <div class="mb-3">
                          <label for="username" class="form-label">{{ t('home.name') }}</label>
                          <input type="text" class="form-control rounded-pill" id="username" aria-describedby="username">
                        </div>
                        <div class="mb-3">
                          <label for="phone" class="form-label">{{ t('home.phone') }}</label>
                          <input type="tel" class="form-control  rounded-pill" id="phone">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">{{ t('home.email') }}</label>
                            <input type="email" class="form-control rounded-pill" id="email">
                          </div>
                          <div class="mb-3">
                            <label for="hometown" class="form-label">{{ t('home.city') }}</label>
                            <input type="text" class="form-control rounded-pill" id="hometown">
                          </div>
                          <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary rounded-pill px-4">{{ t('home.formButton') }}</button>
                          </div>
                        
                      </form>
                </div>
            </div>
           </div>
           
        </div>
    </div>
</div>
<app-login></app-login>



