<app-header></app-header>
<div class="wrapper">
    <div class="background-image w-100">
        <div class="image-opacity position-relative w-100 h-100">
            <div class="d-flex flex-column justify-content-center align-items-center h-100">
            <div class="container-fluid">
                <div class="row h-100">
                <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
                    <div class="d-flex flex-column align-items-center justify-content-center h-100" style="text-align: center;">
                    <h1 class="mb-4 fw-bold poppins">Yangınla Mücadele Bizim İşimiz</h1>
                    <h2 class=" h3 fw-normal">Ormanlarınızı Koruyun</h2>
                    <div class="pt-5">
                        <a class="btn btn-warning btn-lg rounded fs-18" (click)="scrollToForm()">İletişim Formu Doldurun</a>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row my-5">
          <div class="col-12 col-xl-10 offset-xl-1">
      
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
              <div class="col mb-4">
                <div class="card border-0" >
                  <div class="card-body p-5">
                    <h5 class="card-title poppins fs-20 fw-bold">Uçak Kirala</h5>
                    <p class="card-text">Protect Forest Havacılık olarak, uçuşlarımızı tamamen siz değerli müşterilerimizin istek ve ihtiyaçları doğrultusunda şekillendirmekteyiz. Yurtiçi ve yurt dışı uçuş noktalarımızda size benzersiz bir uçuş deneyimi sunmak en önemli önceliğimizdir. Kaliteli, eğitimli ve deneyimli kadrosuyla 30 yılı aşkın süredir özel uçak kiralama ve hava ambulans hizmeti sunan Bonair, sizinle uçmak ve ihtiyaçlarınızı karşılamak için her zaman yanınızdadır.</p>
                    </div>
                  <img src="../../assets/img/private-plane.jpeg" alt="plane" class="img-fluid">
                </div>
              </div>
              <div class="col  mb-4">
                <div class="card border-0" >
                  <div class="card-body p-5">
                    <h5 class="card-title poppins fs-20 fw-bold">Uçak Satın Al</h5>
                    <p class="card-text">Bünyemizde 14 yolcu kapasiteli 1 adet Falcon 7X tipi jet, 14 yolcu kapasiteli 1 adet Falcon 8X tipi jet, 9 yolcu kapasiteli 2 adet Agusta Westland 139 tipi helikopter ve 8 yolcu kapasiteli Cessna Grand Caravan tipi deniz uçagı bulunmaktadır.Agusta Westland 139 tipi helikopter ve 8 yolcu kapasiteli Cessna Grand Caravan tipi deniz uçagı bulunmaktadır.Agusta Westland 139 tipi helikopter ve 8 yolcu kapasiteli Cessna Caravan tipi deniz uçagı bulunmaktadır.</p>   
                  </div>
                  <img src="../../assets/img/special-plane.jpg" alt="plane"  class="img-fluid">
                </div>
              </div>
              <div class="col mb-4">
                <div class="card border-0" >
                  <div class="card-body p-5">
                    <h5 class="card-title poppins fs-20 fw-bold">Yangınlara Özel Uçak</h5>
                    <p class="card-text">Özel uçak kiralama süreci basit bir telefon aramasıyla veya online uçuş talebiyle başlatılabilir. Doğru jete karar verildikten sonra, gidilecek rotaya bağlı olarak havayolu şirketi gidilecek ülkenin iniş izni, havalimanı ppr, slot izinleri, üzerinden geçilecek ülkelerin üst geçişler ve havalimanı yer hizmetleri gibi ayarlamalar yapar. Bu ayarlamalar, uçuşa direk etki edeceğinden, uçuşun iptaline bile yol açabileceğinden  ki bu hiç istenmeyen bir durumdur.</p>
                  </div>
                  <img src="../../assets/img/cl-215.jpg" alt="plane"  class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row world-image">
           <div class="col-12 col-xl-10 offset-xl-1">
            <div class="row mb-5">
                <div class="col-6 d-flex flex-column justify-content-center">
                    <h3>Tek tıkla uçak kiralayın</h3>
                    <p>Uçak kiralamak artık çok kolay. Protect Forest Havacılığın teknolojiye yön veren sistemleri sayesinde artık tek tıkla uçak satın almai kiralama gibi hizmetlerini kolayca yapabilirsiniz.</p>
                </div>
                <div class="col-6" >
                    <form id="contact-form">
                        <div class="mb-3">
                          <label for="username" class="form-label">Ad Soyad</label>
                          <input type="text" class="form-control rounded-pill" id="username" aria-describedby="username">
                        </div>
                        <div class="mb-3">
                          <label for="phone" class="form-label">Telefon</label>
                          <input type="tel" class="form-control  rounded-pill" id="phone">
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="form-label">Email</label>
                            <input type="email" class="form-control rounded-pill" id="phone">
                          </div>
                          <div class="mb-3">
                            <label for="hometown" class="form-label">Memleket</label>
                            <input type="text" class="form-control rounded-pill" id="hometown">
                          </div>
                          <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary rounded-pill px-4">Gönder</button>
                          </div>
                        
                      </form>
                </div>
            </div>
           </div>
           
        </div>
      </div>
</div>


<app-footer></app-footer>
