.wrapper {
    background-color: whitesmoke;
}

.background-image {
    background-image: url("../../assets/img/banner-airplane.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 500px;
    color: white;
    
  
    .image-opacity {
      background-color: rgba(#000000, 0.49);
    }
  }
  .card {
    height: 700px;
    .card-body{
        height: 420px;
        .card-title{
            height: 50px;
          }
    }
    
    img {
        height: 280px;
        border-radius: 0 0 10px 10px;
    }
  }
  @media (max-width: 992px) {
    .background-image {
      height: 700px;
    }
    .card {
      height: 680px;
    }
  }
  
  @media (max-width: 768px) {
    .background-image {
      height: 500px;
  
      .image-opacity {
        h1 {
          font-size: calc(12px + 2vw );
          line-height: normal;
        }
  
        h2 {
          font-size: calc(8px + 2vw );
          line-height: normal;
        }
  
        .fs-18 {
          font-size: calc(12px + 1vw);
          
        }
      }
    }
    .card {
      height: 600px;
     
    }
  }
  
  @media (max-width: 576px) {
    .background-image {
      height: 300px;
    }
  }


  .world-image {
    background-image: url("../../assets/img/world.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgba($color: #0067A0, $alpha: .03);
  }